body {
    user-select: none;
}

.grid-container {
    width: 1000px;
    height: 200px;
    margin: 20px;
    display: grid;
    grid: 8fr / auto auto auto auto auto auto auto auto;
    padding: 3px;
    border: 25px solid #333;
    background-color: aqua;

}

/* .grid-container * {
    grid: auto / 
} */
/* .grid-container > div * {
    display: grid;
    grid: auto / auto auto auto auto auto auto auto auto;
} */

/* .grid-container > div {
    background-color: black;
} */

.grid-box {
    text-align: left;
    padding: 3px; 
    border: 3px solid black;
    font-size: 30px;
}

#draggable {
    width: auto;
    height: auto;
    text-align: center;
    background: white;

}

.dropzone {
    width: auto;
    height: auto;
    background: black;
    padding: 10px;
}

#draggable.grid-container.grid-box.blkRook {
        max-width: max-content;
        max-height: max-content;
        color: blue;
}

.blkRook {
        background: aquamarine;
        b
} 














/* .grid-container > div.a8 {
    
    
} */
 /* background-image: url(./blkChessPieces/Rook.ViewBlackandWhite.JPG); */

